@model BiAccident.ViewModels.NbAccidentLieuxViewModels

@{
    ViewBag.Title = "PageNbAccidentLieux";
}

<h2>PageNbAccidentLieux</h2>

<table class="table">
    <tr>
        <td>Année</td>
        <td>Nombre d'accident</td>
        <td>Lieux</td>
    </tr>
@foreach (var item in Model.ListNbAccidentLieux) {
    <tr>
        <td>
            @item.GetAnnee()
        </td>
    </tr>
    foreach (var truck in item.GetListAccidentLieux())
    {
        <tr>
            <td></td>
            <td>
                @truck.Num_Acc
            </td>
            <td>
                @truck.Catr
            </td>
        </tr>
    }
}

</table>
