@model BiAccident.ViewModels.NbAccidentLieuxViewModels

@{
    ViewBag.Title = "Nombre d'accident par lieux et par année";
}

<h2>Nombre d'accident par lieux et par année</h2>

<table class="table">
    <tr>
        <td>Année</td>
        <td>Nombre d'accident</td>
        <td>Lieux</td>
    </tr>
@foreach (var item in Model.ListNbAccidentLieux) {
    <tr>
        <td>
            <b>
                @item.GetAnnee()
            </b>
        </td>
        <td> </td>
        <td> </td>
    </tr>
    foreach (var truck in item.GetListAccidentLieux())
    {
        <tr>
            <td> </td>
            <td>
                @truck.Num_Acc
            </td>
            <td>
                @truck.Catr
            </td>
        </tr>
    }
}

</table>

<h2>Taux d'évolution</h2>

<table class="table">


</table>
